
@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(/src/fonts/Ubuntu-Medium.ttf); /* Для IE5-8 */
    src: local(Ubuntu), url(/src/fonts/Ubuntu-Medium.ttf); /* Для остальных браузеров */
   }
   @font-face {
    font-family: Ubuntu-reg; /* Гарнитура шрифта */
    src: url(/src/fonts/Ubuntu-Regular.ttf); /* Для IE5-8 */
    src: local(Ubuntu-reg), url(/src/fonts/Ubuntu-Regular.ttf); /* Для остальных браузеров */
   }
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
   header{
       justify-self: center;
       background-color: white;
       top:0px;
       z-index: 1;
       display: flex;
       flex-direction: row;
       align-items: center;
       padding-right: 10px;
       flex-wrap: wrap;
       justify-content: center;
 
   }
   a.logoa{
       color:black;
       text-decoration: none;
   }
h1.reda{
    -webkit-transition: all 0.3s ease-in-out;
    font-size: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 8px;
}
h1.reda:hover{
    box-shadow: 2px 2px 2px 2px #9c9c9c38;
    cursor: pointer;
}
   h1{
    text-decoration: none;
}
div.logo img{
    width: 30.76px;
    padding-left: 10px;
}
div.logo h3{
font-family:'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
letter-spacing: 1px;
text-decoration: none;

}
div.logo{
    display: flex;
    flex-direction: row;
    -webkit-transition: all 0.3s ease-in-out;

    width: 170px;
    border-radius: 12px;
    justify-self: center;
}
div.logo h3{
margin-left: 11.29px;
}

div.logo:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px #9c9c9c38;
}

nav.top-nav ul li{
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

margin-left: 40px;
letter-spacing: 1px;
font-size: 29px;
}

nav.top-nav ul{
list-style:none ;
display: flex;
flex-direction: row;


}
nav.top-nav{
    margin-left: calc(25px + (250 - 10) * ((100vw - 1000px) / (1920 - 500)));;
}

nav.top-nav ul li a{
    
    color: black;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
div.block-one{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    z-index: 0;
}




 div.one-kartinka, div.two-kartinka,div.three-kartinka,div.four-kartinka,
 div.five-kartinka,div.six-kartinka,div.seven-kartinka,div.eight-kartinka
{
-webkit-transition: all 0.3s ease-in-out;
border-radius: 12px;
}
 div.one-kartinka:hover, div.two-kartinka:hover,div.three-kartinka:hover,div.four-kartinka:hover,
div.five-kartinka:hover,div.six-kartinka:hover,div.seven-kartinka:hover,div.eight-kartinka:hover{
    box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.466);
    
}


