@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(/src/fonts/Ubuntu-Medium.ttf); /* Для IE5-8 */
    src: local(Ubuntu), url(/src/fonts/Ubuntu-Medium.ttf); /* Для остальных браузеров */
   }
   @font-face {
    font-family: Ubuntu-reg; /* Гарнитура шрифта */
    src: url(/src/fonts/Ubuntu-Regular.ttf); /* Для IE5-8 */
    src: local(Ubuntu-reg), url(/src/fonts/Ubuntu-Regular.ttf); /* Для остальных браузеров */
   }
  

div.sv{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: center;
    margin-top: 40px;
    width:calc(803 + (250 - 10) * ((100vw - 1000px) / (1920 - 500))); 
    height:calc(803 + (250 - 10) * ((100vw - 1000px) / (1920 - 500)));;
    background-image: url(/src/images-menu/pat.png);
    border-radius: 12px;
    max-width: 700px;
    margin-left: 10px;
    margin-right: 10px;
}
div.sv h1{
    font-family: Ubuntu;
    letter-spacing: 4px;
    font-size: 220%;
    color: white;
    margin-left: 50px;
    padding-right: 20px;
}
span{
    font-size: 80%;
}

a.inst{
    color: rgb(185, 122, 122);
    -webkit-transition: all 0.5s ease-in-out;
    
}
a.inst:hover{
    color: red;
}
div.map{
    display: flex;
    flex-direction: row;
}
iframe{
    align-self: center;
    
    margin-bottom: 20px;
    width: calc(1000 + (1000 - 100) * ((100vw - 1000px) / (1920 - 500)));
    height: 250px;
}